@import '../config/mixins';

body {
    font-family: $body-font;
}

.content {
    &__hero {
        background: $color-primary;
        background: linear-gradient(101deg, $color-primary 0%, $color-secondary 100%); 
        margin-bottom: vw(50);
        overflow: hidden;
        
        &__container {
            min-height: 600px;
            $arg: (
                tablet: (
                    padding:rem(25)
                ),
                phone: (
                    flex-direction:column,
                    padding:rem(25)
                )
            );

            @include responsive($arg);
        }

        &__desc {
            max-width: 50%;
            $arg: (
                tablet: (
                    max-width:100%
                ),
                phone: (
                    max-width:100%
                )
            );

            @include responsive($arg);

            :where(h1,h2) {
                font-size: rem(48);
                font-weight: 800;
                line-height: 1.25;
                margin-bottom: rem(24);
                background: linear-gradient(80deg,$color-white 22.73%,$color-secondary 188.41%);
                background-clip: border-box;
                background-clip: text;
                -webkit-background-clip: text;
                text-fill-color: transparent;
                -webkit-text-fill-color: transparent;
                $arg: (
                    tablet: (
                      font-size:rem(36)  
                    ),
                    phone: (
                        font-size:rem(32)  
                    )
                );

                @include responsive($arg);
            }

            p {
                font-size: rem(16);

                color:$color-white;
                $arg: (
                    tablet: (
                      font-size:rem(15)  
                    ),
                    phone: (
                        font-size:rem(15)  
                    )
                );
                @include responsive($arg);
            }
        }

        &__img {
            margin-bottom: rem(-100);
        }
    }

    &__frame {
        &__heading {
            $arg: (
                tablet: (
                    flex-direction:column
                ),
                phone: (
                    flex-direction:column
                )
            );

            @include responsive($arg);
            &__text {
                h1 {
                    margin-bottom: rem(8);
                    span {
                        background: linear-gradient(80deg,$color-primary 22.73%,$color-secondary 188.41%);
                        background-clip: border-box;
                        background-clip: text;
                        -webkit-background-clip: text;
                        text-fill-color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                }
                p {
                    color:$color-grey-dark;
                }
            }
            &__view {
                font-size: rem(16);
                > * {
                    font-size: inherit;
                }
            }
        }
        &__slider {
            padding:rem(24) 0;
            .tns-ovh {
                height: 100%!important;
                padding:rem(5) rem(1);
            }
            .tns-controls {
                display: none;
            }
            .tns-nav {
                display: flex;
                align-items: center;
                justify-content: center;
                gap:rem(12);
                padding:rem(32) 0;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: rem(16);
                    height: rem(16);

                    border-radius: 50%;

                    background-color: $color-grey;

                    &.tns-nav-active {
                        background-color: $color-primary;
                    }
                }
            }
        }
        &--background {
            background-color: lighten($color-primary, 60%);
        }
        $arg: (
            tablet: (
                padding:rem(20)
            ),
            phone: (
                padding:rem(20)
            )
        );

        @include responsive($arg);
    }
    
    &__cta {
        padding:vw(80) 0;

        background:lighten($color-secondary, 30%);

        &__inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 300px;

            h2 {
                max-width: vw(800);

                text-align: center;
                background: linear-gradient(80deg,$color-primary 22.73%,$color-secondary 188.41%);
                background-clip: border-box;
                background-clip: text;
                -webkit-background-clip: text;
                text-fill-color: transparent;
                -webkit-text-fill-color: transparent;

                $arg: (
                    tablet: (
                        max-width:90%
                    ),
                    phone: (
                        max-width:100%,
                        padding:0 rem(16)
                    )
                );

                @include responsive($arg);
            }
        }
    }

    &__blog {
        $arg: (
            tablet: (
                padding:rem(20)
            ),
            phone: (
                padding:rem(20)
            )
        );

        @include responsive($arg);
        &__heading {
            $arg: (
                tablet: (
                    flex-direction:column
                ),
                phone: (
                    flex-direction:column
                )
            );

            @include responsive($arg);
            &__text {
                h1 {
                    margin-bottom: rem(8);
                    span {
                        background: linear-gradient(80deg,$color-primary 22.73%,$color-secondary 188.41%);
                        background-clip: border-box;
                        background-clip: text;
                        -webkit-background-clip: text;
                        text-fill-color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                }
                p {
                    color:$color-grey-dark;
                }
            }
            &__view {
                font-size: rem(16);
                > * {
                    font-size: inherit;
                }
            }
        }

        &__inner {
            display: grid;
            $arg: (
                desktop: (
                    grid-template-columns:repeat(3, 1fr),
                    gap:rem(24)
                ),
                tablet: (
                    grid-template-columns:repeat(2, 1fr),
                    gap:rem(16)
                ),
                phone: (
                    grid-template-columns:repeat(1, 1fr),
                    gap:rem(24)
                )
            );

            @include responsive($arg);
        }
    }

    &__heading {
        padding:vw(80) 0;

        background:lighten($color-secondary, 30%);

        display: grid;
        grid-template-columns:1fr min(1140px, 100%) 1fr;

        $arg: (
            tablet: (
                padding:rem(80) rem(20)
            ),
            phone: (
                padding:rem(50) rem(20)
            )
        );

        @include responsive($arg);

        > * {
            grid-column: 2;

        }

        &__image {
            width: 100%;
            grid-column: 1 / 4;

            &-bg-white {
                background-color: $color-white;
                padding: rem(60) 0;
            }
        }

        &__title {
            &--big {
                font-size: rem(64);
                color:$color-primary;
            }
            &--medium {
                font-size: rem(36);
            }
            ~ p {
                margin-top: rem(8);
            }
        }
    }
}