@import '../config/mixins';

body {
    font-family: $body-font;

    &.bg-light-blue {
        background:lighten($color-secondary, 35%);
    }
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1em + 1.75rem + 2px);
    margin-bottom: 0;
    &-input {
        position: relative;
        z-index: 2;
        width: 100%;
        height: calc(1em + 1.75rem + 2px);
        margin: 0;
        opacity: 0;

        
        &:lang(en) ~ .custom-file-label::after {
            content: "Browse";
        }
    }
    &-label {
        display: inline-block;

        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        height: calc(1em + 1.75rem + 2px);
        padding: 0.875rem 1.125rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        border: 1px solid #c5ccd6;
        border-radius: 0.35rem;

        transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            display: block;
            height: calc(1em + 1.75rem);
            padding: 0.875rem 1.125rem;
            line-height: 1;
            color: #69707a;
            content: "Browse";
            background-color: #ced4da;
            border-left: inherit;
            border-radius: 0 0.35rem 0.35rem 0;
        }
    }
}

.content {
    &__hero {
        background: $color-primary;
        background: linear-gradient(101deg, $color-primary 0%, $color-secondary 100%); 
        margin-bottom: vw(50);
        overflow: hidden;
        
        &__container {
            min-height: 600px;
            $arg: (
                tablet: (
                    padding:rem(25)
                ),
                phone: (
                    flex-direction:column,
                    padding:rem(25)
                )
            );

            @include responsive($arg);
        }

        &__desc {
            max-width: 50%;
            $arg: (
                tablet: (
                    max-width:100%
                ),
                phone: (
                    max-width:100%
                )
            );

            @include responsive($arg);

            :where(h1,h2) {
                font-size: rem(48);
                font-weight: 800;
                line-height: 1.25;
                margin-bottom: rem(24);
                background: linear-gradient(80deg,$color-white 22.73%,$color-secondary 188.41%);
                background-clip: border-box;
                background-clip: text;
                -webkit-background-clip: text;
                text-fill-color: transparent;
                -webkit-text-fill-color: transparent;
                $arg: (
                    tablet: (
                      font-size:rem(36)  
                    ),
                    phone: (
                        font-size:rem(32)  
                    )
                );

                @include responsive($arg);
            }

            p {
                font-size: rem(16);

                color:$color-white;
                $arg: (
                    tablet: (
                      font-size:rem(15)  
                    ),
                    phone: (
                        font-size:rem(15)  
                    )
                );
                @include responsive($arg);
            }
        }

        &__img {
            margin-bottom: rem(-100);
        }
    }

    &__frame {
        &__heading {
            $arg: (
                tablet: (
                    flex-direction:column
                ),
                phone: (
                    flex-direction:column
                )
            );

            @include responsive($arg);
            &__text {
                h1 {
                    margin-bottom: rem(8);
                    span {
                        background: linear-gradient(80deg,$color-primary 22.73%,$color-secondary 188.41%);
                        background-clip: border-box;
                        background-clip: text;
                        -webkit-background-clip: text;
                        text-fill-color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                }
                p {
                    color:$color-grey-dark;
                }
            }
            &__view {
                font-size: rem(16);
                > * {
                    font-size: inherit;
                }
            }
        }
        &__slider {
            padding:rem(24) 0;
            .tns-ovh {
                height: 100%!important;
                padding:rem(5) rem(1);
            }
            .tns-controls {
                display: none;
            }
            .tns-nav {
                display: flex;
                align-items: center;
                justify-content: center;
                gap:rem(12);
                padding:rem(32) 0;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: rem(16);
                    height: rem(16);

                    border-radius: 50%;

                    background-color: $color-grey;

                    &.tns-nav-active {
                        background-color: $color-primary;
                    }
                }
            }
        }
        &--background {
            background-color: lighten($color-primary, 60%);
        }
        $arg: (
            tablet: (
                padding:rem(20)
            ),
            phone: (
                padding:rem(20)
            )
        );

        @include responsive($arg);
    }
    
    &__cta {
        padding:vw(80) 0;

        background:lighten($color-secondary, 30%);

        &__inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 300px;

            h2 {
                max-width: vw(800);

                text-align: center;
                background: linear-gradient(80deg,$color-primary 22.73%,$color-secondary 188.41%);
                background-clip: border-box;
                background-clip: text;
                -webkit-background-clip: text;
                text-fill-color: transparent;
                -webkit-text-fill-color: transparent;

                $arg: (
                    tablet: (
                        max-width:90%
                    ),
                    phone: (
                        max-width:100%,
                        padding:0 rem(16)
                    )
                );

                @include responsive($arg);
            }
        }
    }

    &__blog {
        $arg: (
            tablet: (
                padding:rem(20)
            ),
            phone: (
                padding:rem(20)
            )
        );

        @include responsive($arg);
        &__heading {
            $arg: (
                tablet: (
                    flex-direction:column
                ),
                phone: (
                    flex-direction:column
                )
            );

            @include responsive($arg);
            &__text {
                h1 {
                    margin-bottom: rem(8);
                    span {
                        background: linear-gradient(80deg,$color-primary 22.73%,$color-secondary 188.41%);
                        background-clip: border-box;
                        background-clip: text;
                        -webkit-background-clip: text;
                        text-fill-color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                }
                p {
                    color:$color-grey-dark;
                }
            }
            &__view {
                font-size: rem(16);
                > * {
                    font-size: inherit;
                }
            }
        }

        &__inner {
            display: grid;
            $arg: (
                desktop: (
                    grid-template-columns:repeat(3, 1fr),
                    gap:rem(24)
                ),
                tablet: (
                    grid-template-columns:repeat(2, 1fr),
                    gap:rem(16)
                ),
                phone: (
                    grid-template-columns:repeat(1, 1fr),
                    gap:rem(24)
                )
            );

            @include responsive($arg);
        }

        &__wrapper {
            display: grid;
            grid-template-columns: auto 350px;
            grid-auto-rows: minmax(min-content, max-content);
            gap:rem(32);
            min-height: 0;
            min-width: 0;
            $arg: (
                tablet: (
                    grid-template-columns: auto 300px
                ),
                phone: (
                    grid-template-columns: 1fr
                )
            );

            @include responsive($arg);

            .card {
                overflow: hidden;
                min-width: 0; 
            }
        }
    }

    &__heading {
        padding:vw(80) 0;

        background:lighten($color-secondary, 30%);

        display: grid;
        grid-template-columns:1fr min(1140px, 100%) 1fr;

        $arg: (
            tablet: (
                padding:rem(80) rem(20)
            ),
            phone: (
                padding:rem(50) rem(20)
            )
        );

        @include responsive($arg);

        > * {
            grid-column: 2;

        }

        &__image {
            width: 100%;
            grid-column: 1 / 4;

            &-bg-white {
                background-color: $color-white;
                padding: rem(60) 0;
            }
        }

        &__title {
            &--big {
                font-size: rem(64);
                background: linear-gradient(10deg,$color-primary 3%,$color-secondary 57%);
                background-clip: border-box;
                background-clip: text;
                -webkit-background-clip: text;
                text-fill-color: transparent;
                -webkit-text-fill-color: transparent;
            }
            &--medium {
                font-size: rem(36);
                color:$color-primary;
            }
            ~ p {
                margin-top: rem(8);
            }
        }
    }

    &__single {
        $arg: (
            tablet: (
                padding:rem(20)
            ),
            phone: (
                padding:rem(20)
            )
        );

        @include responsive($arg);
        &__inner {
            z-index: 1;
            max-width: 540px;
            margin:0 auto;
        }
        &__user {
            max-width: 80px;
            margin:0 auto;

            border-radius: 50%;
            overflow: hidden;
        }
        &__content {
            text-align: center;

            h1 {
                background: linear-gradient(90deg,$color-primary 20%,$color-secondary 57%);
                background-clip: border-box;
                background-clip: text;
                -webkit-background-clip: text;
                text-fill-color: transparent;
                -webkit-text-fill-color: transparent;
            }

            p {
                color:$color-grey-dark;
            }
        }
        &__link {
            display: inline-flex;
            align-items: center;
            gap:rem(6);

            text-decoration: none;

            max-width: 300px;

            font-size: rem(13);

            background-color: $color-primary;
            color:$color-white;
            padding:rem(6) rem(12);

            border-radius: rem(30);

            span {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    &__faq {
        $arg: (
            tablet: (
                padding:rem(20)
            ),
            phone: (
                padding:rem(20)
            )
        );
        @include responsive($arg);
        &__heading {
            $arg: (
                tablet: (
                    flex-direction:column
                ),
                phone: (
                    flex-direction:column
                )
            );

            @include responsive($arg);
            &__text {
                h1 {
                    margin-bottom: rem(8);
                    span {
                        background: linear-gradient(80deg,$color-primary 22.73%,$color-secondary 188.41%);
                        background-clip: border-box;
                        background-clip: text;
                        -webkit-background-clip: text;
                        text-fill-color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                }
                p {
                    color:$color-grey-dark;
                }
            }
            &__view {
                font-size: rem(16);
                > * {
                    font-size: inherit;
                }
            }
        }
    }
}