@import '../config/mixins';

.header {
    position: sticky;
    top:0rem;
    border-bottom: 1px solid $color-grey;
    background-color: $color-white;

    z-index: 5;

    $arg: (
        tablet: (
            padding:rem(10) rem(15)
        ),
        phone: (
            padding:rem(10) rem(20)
        )
    );

    @include responsive($arg);

    &__logo {
        img {
            max-height:rem(25)
        }
    }

    &__search {
        position: relative;
        border:1px solid $color-grey;
        
        border-radius: 100px;
        overflow: hidden;

        $arg: (
            desktop: (
                display:block
            ),
            tablet: (
                display:block
            ),
            phone: (
                display:none
            )
        );

        @include responsive($arg);
        
        &__input {
            padding:rem(14) rem(80) rem(15) rem(20);
            border:0;
        }

        &__button {
            position: absolute;
            right:rem(15);
            top:50%;
            transform: translateY(-50%);

            display: inline-flex;
            align-items: center;
            justify-content: center;

            width: rem(30);
            height: rem(30);
            border-radius: 50%;
        }
    }
    
    &__menu {
        list-style: none;
        margin:0;
        padding:0;

        gap:vw(16);
        $arg: (
            tablet: (
                    
            ),
            phone: (
                position:absolute,
                left:0,
                top:100%,
                width:100%,
                background-color:$color-white,
                justify-content:center,
                visibility:hidden,
                opacity:0
            )
        );

        @include responsive($arg);
        
        &__item {
            a {
                display: inline-flex;
                align-items: center;
                padding:rem(28) rem(8);

                text-decoration: none;

                color:$color-black;
                border-bottom: 3px solid $color-transparent;

                transition: 0.5s;

                &:hover {
                    border-color:$color-primary;
                    color:$color-primary;
                }
            }

            &--active {
                a {
                    color:$color-primary;
                    border-bottom: 3px solid $color-primary;
                }
            }
        }
    }

    &__hamburger {
        $arg: (
            desktop: (
                display:none
            ),
            tablet: (
                display:flex
            ),
            phone: (
                display:flex
            )
        );

        @include responsive($arg);

        align-items: center;
        justify-content: center;

        width: rem(40);
        height: rem(40);
        border-radius: 50%;
    }
}