// colors
$color-primary:#37517E;
$color-secondary:#47B2E4;

$color-light-grey:#ECECEC;
$color-grey:#C4C4C4;
$color-grey-dark:#777;
$color-white: #FFFFFF;
$color-black: #000000;
$color-transparent: transparent;

// fonts
$body-font:'Plus Jakarta Sans', sans-serif;